
.ReactTable .-pagination button {
  margin: 0;
}

body {
  font-size: 24px;
  color: #adadad;
  font-family: 'Graphik Web';
  line-height: 36px;
}

p {
  font-weight: 400;
}

/* HEADER */

.parametric-header-text {
  margin: 0;
  width: auto;
  max-width: none;
  border-top: none;
}
.parametric-header-text .parametric-long-title {
  font-size: 120px;
  line-height: 120px;
  font-weight: bold;
  font-family: 'Graphik Web';
  max-width: none;
  text-align: center;
  color: #D8FFA2;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #222;
}

.byline-container {
  justify-content: space-around;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.2;
  margin-top: 4em;
}

.article-header {
  max-width: 100%;
  width: 1000px;
  padding: 2em;
  height: 100vh;
}
.parametric-article-nav {
  position: sticky;
  top: 0;
  padding-top: 0.5em;
  margin-top: 0em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 0.5em;
  margin-bottom: 2em;
}
.article-header .idyll-text-container {
  margin-left: 0;
}

.parametric-header-image img,
.parametric-header-image video {
  width: 400px;
  z-index: 3;
  position: relative;
  top: -70px;
  left: -120px;
  background: none;
}
.parametric-header-image img,
.parametric-header-image video {
  left: 0;
  width: 520px;
}


/* BODY */

h2 {
  font-family: 'Editorial New';
  font-size: 32px;
  line-height: 48px;
}
.vega-embed {
  width: 100%;
  /* max-width: 100%; */
  overflow: visible;
}

.idyll-text-container {
  max-width: 640px;
  margin: 0 auto;
}

.idyll-text-container p {
  font-family: 'Tiempos Text';
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  /* color: #222222; */
  margin-bottom: 1.5em;
}



/* LEDES */


.lede, .lede p {
  font-family: 'Graphik Web';
}

.lede-a, .lede-a p {
  font-size: 32px;
  line-height: 48px;
  font-weight: 400;
}

.lede-b, .lede-b p {
  font-size: 24px;
  line-height: 40px;
}

/* SCROLLER */

.idyll-scroll {
  margin-bottom: 25vh;
}

.vl-graphic-container {
  width: 100%;
}

#vg-tooltip-element {
  padding: 0;
  background: #111;
  border: none;
}

#vg-tooltip-element table {
  margin-bottom: 0;
}

#vg-tooltip-element table td {
  border: none;
}
#vg-tooltip-element table tr {
  background: #111;
  color: #adadad;
}

#vg-tooltip-element table tr:nth-child(2n) {
  background: #adadad;
  color: #222222;
}

#vg-tooltip-element table tr td.key {
  color: #adadad;
}
#vg-tooltip-element table tr:nth-child(2n) td.key {
  color: #222222;
}


@media all and (max-width: 960px) {
  .vl-graphic-container {
    width: 100vw;
  }
}

.idyll-scroll-text .idyll-step {
  padding: 1.5em 2em;
  box-shadow: none;
}
.idyll-step h2 {
  margin: 0;
}

.idyll-step p:last-child {
  margin-bottom: 0;
}

.idyll-scroll-text .idyll-step:first-of-type {
  margin-top: 0;
}


/* RECIRC */

.parametric-recirc-module {
  width: 960px;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: -25%;
}
.parametric-recirc-module > div:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}
.parametric-recirc-module > div:nth-of-type(2) > div {
  flex: 1;
  margin: 0 0.5em;
}
.parametric-recirc-module > div:nth-of-type(2) > div:first-of-type {
  margin-left: 0;
}
.parametric-recirc-module > div:nth-of-type(2) > div:last-of-type {
  margin-right: 0;
}

/* ARTICLE SPECIFIC  */


.byline-container {
  text-shadow: 0 0 2px #ffffff;
  font-size: 18px;
}

.parametric-graphic-subhed {
  color: #adadad;
  max-width: 100%;
}

p a {
  color: #adadad;
  text-decoration: underline;
  transition: color 0.15s ease-in-out;
}

p a:hover {
  color: #D8FFA2;
}

.parametric-graphic-source {
  margin-top: 1em;
}

@media all and (min-width: 1440px) {
  .parametric-recirc-next-article {
    width: 100vw;
    margin-left: calc((100vw - 1440px) / -2);
  }
}

@media all and (max-width: 1000px) {
  .idyll-root {
    max-width: none;
    padding: 0;
  }
  .parametric-recirc-module {
    width: calc(100% - 2em);
    max-width: 95vw;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em;
  }
}

@media all and (max-width: 800px) {
  .idyll-root {
    max-width: none;
    padding: 0;
  }

  .parametric-article-nav {
    padding-left: 1em;
    padding-right: 1em;
  }

  .lede-a, .lede-a p {
    font-size: 24px;
    line-height: 1.3;
  }

  .parametric-recirc-module > div:nth-of-type(2) {
    flex-direction: column;
  }
  .parametric-recirc-module > div:nth-of-type(2) > div {
    margin: 1em 0;
  }

  .parametric-header-image {
    display: block;
  }

  .idyll-text-container {
    margin-left: 1em;
    margin-right: 1em;
  }

  .parametric-graphic img {
    width: 100%;
  }

  .parametric-header-text .parametric-long-title {
    font-size: 48px;
    line-height: 1.2;
  }

  .idyll-scroll {
    transform: none;
  }
}

video {

}

.idyll-scroll-text .idyll-step{
  background: #111111;
  color: #adadad;
}

.idyll-step p {
  color: #adadad;
}

.parametric-graphic {
  /* background: #ADADAD; */
  color: #adadad;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  margin: 2em 0;
}
.parametric-graphic-hed,
.parametric-graphic-dek {
  color: #adadad;
}
.parametric-graphic-hed {
  font-family: 'Editorial New';
}

.idyll-display {
  font-family: inherit;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.idyll-scroll-graphic img,
.idyll-scroll-graphic video {
  max-width: 1440px;
  margin-left: 0;
}

video {
  max-width: 1440px;
}


.parametric-header-hed-text {
  /* margin-top: 50px; */
}

body {
  overflow-x: hidden;
}
.parametric-article-nav {
  overflow-x: visible;
}

.article-header a {
  color: #222222;
}



.parametric-recirc-article {
  /* background: #222222; */
  /* color: #D8FFA2 !important; */
  /* box-shadow: 8px 8px 0 #D8FFA2; */
  padding: 0.5em;
  margin: 1em 0;
}

